<div style="margin-top: 160px; padding: 30px; display: flex; flex-direction: column; justify-content: space-between; ">
    <h2>Chi siamo</h2>
    <h3>Da anni, ci dedichiamo con orgoglio a fornire ai nostri clienti una vasta gamma di marmi 
        naturali, graniti, onici e altre pietre di alta qualità. La nostra storia è fondata sull'artigianalità 
        e sulla dedizione all'eccellenza, mettendo a disposizione dei nostri clienti il meglio che la natura ha da offrire.</h3>

    <h2>La Nostra Missione</h2>
    <h3>La missione di RUGI MARMI è semplice: trasformare i vostri progetti in opere d'arte. 
        Siamo guidati dalla passione per l'estetica e dalla volontà di realizzare ambienti che 
        incantino gli occhi e suscitino emozioni. La nostra dedizione al dettaglio e alla qualità si 
        riflette in ogni pezzo di pietra che consegniamo.</h3>

    <h2>I Nostri Prodotti</h2>
    <h3>Presso "RUGI MARMI", troverete una vasta selezione di marmi pregiati provenienti dai migliori giacimenti del mondo. 
        Dalla classica bellezza del marmo carrara alla ricchezza del granito, offriamo una gamma diversificata di materiali adatti a 
        una varietà di applicazioni. Siamo convinti che troverete la soluzione perfetta per i vostri progetti, dalla residenza privata 
        agli spazi commerciali di prestigio.</h3>

    <h2>I Nostri Servizi</h2>
    <h3>La nostra dedizione non si limita solo alla vendita di marmi. 
        Offriamo una gamma completa di servizi, dalla consulenza professionale alla lavorazione su misura, 
        dalla lucidatura all'installazione. Il nostro team esperto è al vostro fianco, garantendo che ogni passo del 
        processo soddisfi i vostri desideri e superi le vostre aspettative.</h3>

    <h2>Impegno Ambientale</h2>
    <h3>Siamo consapevoli della nostra responsabilità verso l'ambiente. 
        Collaboriamo con fornitori che seguono pratiche di estrazione sostenibile e promuoviamo un 
        utilizzo responsabile delle risorse naturali. La nostra attenzione all'ambiente è una parte fondamentale del nostro impegno per un futuro migliore.</h3>



</div>
