<!-- <div class="sfondoMarmo">
    <p>home works!</p>
</div> -->

<div class="divPri">
    <div class="divPriContent">
        <h2>ESPLORA CATALOGO</h2>
    </div>
    <div class="divPriContent">
        <h3>Scopri la vasta gamma di prodotti offerti dalla
            RUGI MARMI.</h3>
    </div>
    <div class="divPriContent">
        <button mat-raised-button class="buyNow" color="primary" routerLink="shop"><mat-icon style="transform: scale(1.5);">shopping_cart</mat-icon>&nbsp; SHOP NOW</button>
    </div>
</div>
<div class="divSec">

</div>
<div class="divTer">

</div>