<div class="divPri">
    <div class="divPriContent">
        <h2>ESPLORA CATALOGO</h2>
    </div>
    <div class="divPriContent">
        <h3>Scopri la vasta gamma di prodotti offerti dalla
            RUGI MARMI.</h3>
    </div>
    <div class="divPriContent">
        <button mat-raised-button class="buyNow" color="primary" routerLink="shop"><mat-icon style="transform: scale(1.5);">shopping_cart</mat-icon>&nbsp; SHOP NOW</button>
    </div>
</div>

<div class="divSec">
    <div style="margin: 10px;">
        <h2 style="writing-mode: vertical-lr; text-orientation: mixed; white-space: nowrap; transform: rotate(180deg); padding: 20px;">LO CERCHI? LO ABBIAMO.</h2>
    </div>
    <div class="quadratoCentraleSfondo">
        <div class="quadratoCentraleImmagine">
            <img src="../../assets/HomePageImages/c61ee89267e0ed63fb5726fea7631e69.jpg">
        </div>
    </div>
    <div class="quadratoLateraleSfondo">
        <div class="rigaQuadrati">
            <div class="quadratoLateraleImmagine"><img src="../../assets/HomePageImages/ee27e46a21a3c9a730d1eb18a98fc40b.jpg"></div>
            <div class="quadratoLateraleImmagine"><img src="../../assets/HomePageImages/QD10.03.007.jpg"></div>
        </div>
        <div class="rigaQuadrati">
            <div class="quadratoLateraleImmagine"><img src="../../assets/HomePageImages/marmo-arabescato-copertina.jpg"></div>
            <div class="quadratoLateraleImmagine"><img src="../../assets/HomePageImages/1000_F_543378228_geBD4iXXM47ixrsXVZmWb74ZfYVMgQ3j.jpg"></div>
        </div>
    </div>
</div>

<div class="divTer">
    <div id="titoloDivTer">
        <p style="text-align: center; "><button mat-button><h2>Iscriviti alla nostra newsletter</h2></button></p>
    </div>

    <!-- IDEA SU UN MENU PER FAR VEDERE UNA SELEZIONE DI PRODOTTI- PER IL MOMENTO DEPRECATA -->
    <!-- <div id="menuCards" style="margin: 10px;">
        <mat-button-toggle-group name="categorieProdotti" aria-label="CatMarmi">
            <mat-button-toggle value="all">Tutti i prodotti</mat-button-toggle>
            <mat-button-toggle value="natural">Naturali</mat-button-toggle>
            <mat-button-toggle value="syntetic">Sintetici</mat-button-toggle>
            <mat-button-toggle value="gold">Inserti Oro</mat-button-toggle>
          </mat-button-toggle-group>
    </div> -->

    <!-- Il bottone di refresh sarà utile a ricaricare le cards con dei prodotti casuali -->
    <div id="refresh">
        <button mat-icon-button color="primary" aria-label="icon with refresh button" style="color: black;">
            <mat-icon>refresh</mat-icon>
          </button>
    </div>

    <div id="cardsSlot" style="display: flex; flex-direction: row; padding: 10px;">
        <app-shopping-card></app-shopping-card>
        <app-shopping-card></app-shopping-card>
        <app-shopping-card></app-shopping-card>
        <app-shopping-card></app-shopping-card>
    </div>
</div>
