<div
    class="purchase-options">
    <div 
      class="example-container"
      *ngIf="this.login.userEmail">
      <ng-container 
        forms-and-previews
        style="display: flex; flex-direction: row;">
        <div
          forms>
          <!-- ID -->
          <header>
            <h1>
              <strong>
                Prego dirigersi all'area "Shop" per scegliere<br>il proprio prodotto
              </strong>
            </h1>
            <!-- <p>
              Può copiare l'ID lotto dell'oggetto di sua<br>
              preferenza o sceglierlo dal menu a tendina
            </p> -->
          </header>
          <div
            preorder-box
            *ngIf="this.loadPreorderCond()">
            <mat-card
              preorder-card>
                <mat-label
                  preorder-label>
                  ID
                </mat-label>
                <mat-card-content
                  preorder-content>
                    {{this.ordine.marmo.id}}
                </mat-card-content>
            </mat-card>
          </div>
          <div
            ordine-input>
            <br><br><br>
            <mat-form-field
              [hideRequiredMarker]="false"
              qta-box
              hintLabel="Massima quantità acquistabile">
              <mat-label>Amount</mat-label>
              <input 
                matInput 
                type="number" 
                class="example-right-align" 
                placeholder="0"
                #amountinput
                [disabled]="isQta()"
                (keyup.enter)="send_amount(amountinput.value)">
              <mat-hint align="end">{{this.one_slab.qta}}</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <br><br><br>
        <div
          div-preview
          *ngIf="this.flagStatus()">
          <mat-card
            card-preview>
            <mat-card-title>
              <strong>
                {{this.ordine.marmo.nome}}
              </strong>
            </mat-card-title>
            <mat-card-subtitle>
              <p>ID Lotto: {{this.ordine.marmo.id}}<br></p>
              <strong>Provenienza: {{this.ordine.marmo.provenienza}}</strong><br>
              <p>{{this.ordine.marmo.descrizione}}</p>
            </mat-card-subtitle>
            <img [src]="this.get_src_uri(this.ordine.marmo.nome)" alt="NoImage">
            <span>Dimensioni:<br>{{this.ordine.marmo.dim_x}}<br>{{this.ordine.marmo.dim_y}}<br>{{this.ordine.marmo.dim_z}}</span>
            <span>Sta acquistando:<br>{{this.ordine.marmo.qta}} oggetti<br></span>
            <span>Prezzo: {{this.ordine.marmo.prezzo}}$<br></span>
            <div
              colori>
              <span>Colore: {{this.ordine.marmo.colore}}<br></span>
              <span *ngIf="veinsStatus()">Colore Venatura: {{this.ordine.marmo.colore_v}}</span>
            </div>
            <div
              purchase-button>
              <button
                (click)="purchaseMarble()">
                Compra
              </button>
              <button
                (click)="deleteOrder()">
                Cancella
              </button>
            </div>
          </mat-card>
        </div>
      </ng-container>
  </div>
  <div
    *ngIf="!(this.login.userEmail)">
    <h1>
      <strong>
        Per favore, eseguire il login per procedere con gli acquisti
      </strong>
    </h1>
  </div>
</div>