<div>
    <mat-toolbar class="barraNav">
        <mat-toolbar-row class="primaRiga">
            <div style="width: 25%;">
                <button mat-icon-button><mat-icon>search</mat-icon></button>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="15" viewBox="0 0 31 15" fill="none">
                    <path d="M0.353554 7.5L7.5 0.353554L14.6464 7.5L7.5 14.6464L0.353554 7.5Z" stroke="black" stroke-width="0.5"/>
                    <path d="M8.35355 7.5L15.5 0.353554L22.6464 7.5L15.5 14.6464L8.35355 7.5Z" stroke="black" stroke-width="0.5"/>
                    <path d="M16.3536 7.5L23.5 0.353554L30.6464 7.5L23.5 14.6464L16.3536 7.5Z" stroke="black" stroke-width="0.5"/>
                </svg>
                <span class="fontLogoCentrale">RUGI MARMI</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="15" viewBox="0 0 31 15" fill="none">
                    <path d="M0.353554 7.5L7.5 0.353554L14.6464 7.5L7.5 14.6464L0.353554 7.5Z" stroke="black" stroke-width="0.5"/>
                    <path d="M8.35355 7.5L15.5 0.353554L22.6464 7.5L15.5 14.6464L8.35355 7.5Z" stroke="black" stroke-width="0.5"/>
                    <path d="M16.3536 7.5L23.5 0.353554L30.6464 7.5L23.5 14.6464L16.3536 7.5Z" stroke="black" stroke-width="0.5"/>
                </svg>
            </div>
            <div *ngIf="!auth.isLoggedIn" style="width: 25%; text-align: right;">
                <button mat-button class="bottoniFont" routerLink="login"><mat-icon>person</mat-icon>Login</button>
                <button mat-button class="bottoniFont" routerLink="register"><mat-icon>create</mat-icon>Register</button>
             </div>
             <div *ngIf="auth.isLoggedIn" style="width: 25%; text-align: right;">
                <button mat-button class="bottoniFont" (click)="onLogout()"><mat-icon>person</mat-icon>Logout</button>
             </div>
    
        </mat-toolbar-row>
        <mat-toolbar-row class="custom-toolbar-row"></mat-toolbar-row>
        <mat-toolbar-row class="secondaRiga">
            <div style="width: 25%;"></div>
            <div>
                <button mat-button class="bottoniFont" routerLink="/">HOME</button>
                <button mat-button class="bottoniFont" routerLink="shop">SHOP</button>
                <button mat-button class="bottoniFont" routerLink="about">ABOUT</button>
                <button mat-button class="bottoniFont" routerLink="faq">FAQ</button>
            </div>
            <div  style="width: 25%; text-align: right;">
                <button *ngIf="auth.isAdmin" mat-icon-button class="bottoniFont"><mat-icon>admin_panel_settings</mat-icon></button>         
                <!-- Va impostato il routerlink per la parte di inserimento dei prodotti -->
                <button mat-icon-button class="bottoniFont" routerLink="cart"><mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
      </mat-toolbar>
</div>