
mat-toolbar{
    padding: 10px;
    margin: 0px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    position: fixed;                    //MANTIENE LA BARRA DI NAVIGAZIONE SEMPRE ALLO STESSO POSTO
    top: 0%;
    width: 100%;
    z-index: 1000;                      //MANTIENE LA BARRA DI NAVIGAZIONE SEMPRE SOPRA A TUTTO IL RESTO
}


//SEZIONE FONT
.fontLogoCentrale{
    color: var(--Dark, #000);
    font-family: AmstelvarAlpha;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.bottoniFont{
    color: var(--Dark, #000);
    font-family: AmstelvarAlpha;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


//SEZIONE ALIGN
.primaRiga{
    justify-content: space-between;
    border: 1px solid #000000;
}
.secondaRiga{
    justify-content: space-between;
    border: 1px solid #000000;
}

//RIGA CENTRALE
.custom-toolbar-row {
    background-color: hsl(0, 0%, 0%); /* Cambia il colore di sfondo */
    color: #fff;
    height: 1px;
  }


