.main {
  width: 100px;
  height: 100px;
}

.shop {
  font-family: Arial, sans-serif;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 200px;
}

header {
  text-align: center;
}

h1 {
  margin: 0;
}

.filter {
  text-align: center;
  margin: 20px 0;
}

.filter input {
  padding: 5px;
  margin-right: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 50%;
}

.product img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

