<mat-grid-list 
  cols="4">
  <mat-grid-tile
      *ngFor="let tile of list_of_products()"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'lightgray'">
      <div>
        <h1 
        class="product-title">
        </h1>
        <body>
          <div *ngFor="let item of tile | keyvalue">
            {{item.key}}
            {{item.value}}
          </div>
          <!-- 
            product card
            header e footer
            bottoni
          -->
        </body>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  