.mat-grid-tile {
    width: 100px;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-body {
    background-color: rgba(0,0,0,0.2);
}

.product-title {
    text-align: center;
}

.product-text {
    text-align: center;
    width: 158%;
    height: 49%;
    padding-left: 0%;
    padding-right: 55%;
}