.mat-grid-tile {
    width: 100px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-body {
    background-color: rgba(0,0,0,0.2);
}

.product-title {
    text-align: center;
}

.product-text {
    text-align: center;
    width: 158%;
    height: 49%;
    padding-left: 0%;
    padding-right: 55%;
}

.descrizione {
    font-size:small;
    text-justify:distribute-all-lines;
}

.marble-card {
    background-color: #D9D9D9;
    margin: 10px;
}

.marble-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.body-card{
    width: calc(25% - 16px);
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.main-shop-window {
    display: flex;
    flex-wrap: wrap; /* Abilita l'avvolgimento degli elementi */
    justify-content: space-between; /* Spazio tra le cards */
  }

.div-shop-cards {
    flex-basis: calc(25% - 20px); /* Specifica la larghezza fissa delle cards (33.33% - margine) */
    margin: 10px; /* Aggiungi un margine tra le cards per separarle */
    box-sizing: border-box; /* Assicurati che il margine sia incluso nella larghezza */
}