<div
  class="main-shop-window"
  style="display: flex; flex-direction: row;">
  <div
    class="div-shop-cards"
    *ngFor="let tile of list_of_products()">
    <h1 
    class="product-title">
    </h1>
    <body>
      <div>
          <!-- 
            product card
            header e footer
            bottoni
          -->
        <mat-card class="marble-card">
          <mat-card-header>
              {{tile.nome}}
          </mat-card-header>
          <mat-card-content>
              <img class="mat-card-image" [src]="get_src_uri(tile.nome)" alt="NoImage">
              <span style="height: 20px;"></span>
              <mat-card-content class="descrizione" style="height: 160px;">
                <p>{{tile.descrizione}}</p>
              </mat-card-content>
            <span>ID Lotto: {{tile.id}}<br></span>
            <span>Quantità disponibile: {{tile.qta}} Kg<br></span>
            <span>Prezzo specifico lotto: {{tile.prezzo}} €/Kg</span>
            <span style="height: 20px;"></span>
          </mat-card-content>
          <button
            order-button
            routerLink="shopnow"
            (click)="this.shop.purchaseMarble(tile)">
            Acquista subito
          </button>
        </mat-card>
      </div>
    </body>
  </div>
</div>