<div style="margin-top: 160px; padding: 30px; display: flex; flex-direction: column; justify-content: space-between;">
    
    <h2>Che tipo di marmi offre RUGI MARMI?</h2>
    <h3>RUGI MARMI offre una vasta gamma di marmi pregiati, tra cui marmi italiani, marmi esotici e marmi sintetici di alta qualità.</h3>

    <h2>Quali sono le dimensioni standard dei marmi venduti da RUGI MARMI?</h2>
    <h3>Le dimensioni standard dei nostri marmi variano, ma offriamo lastre di diverse dimensioni, nonché piastrelle su misura per soddisfare le esigenze dei nostri clienti.</h3>

    <h2>Dove posso vedere i campioni dei vostri marmi?</h2>
    <h3>Potete vedere campioni dei nostri marmi presso il nostro showroom principale situato a Perugia, oppure contattarci per richiedere campioni gratuiti da consegnare presso la vostra sede.</h3>

    <h2>RUGI MARMI offre servizi di installazione?</h2>
    <h3>Sì, offriamo servizi di installazione professionale dei nostri marmi da parte di esperti qualificati.</h3>

    <h2>Come faccio ad ordinare dei marmi da RUGI MARMI?</h2>
    <h3>l processo di ordinazione è semplice. Dopo aver scelto il marmo desiderato, potete contattarci per ottenere un preventivo personalizzato e procedere con l'ordine.</h3>

    <h2>Qual è la durabilità dei marmi venduti da RUGI MARMI?</h2>
    <h3>I nostri marmi sono noti per la loro durabilità e resistenza alle macchie e agli agenti atmosferici. Tuttavia, è importante prendersi cura dei marmi adeguatamente per mantenerli in perfette condizioni nel tempo.</h3>

    <h2>RUGI MARMI offre marmi personalizzati?</h2>
    <h3>Sì, possiamo soddisfare le vostre esigenze specifiche creando marmi personalizzati in base ai vostri disegni e specifiche.</h3>

    <h2>Quali sono i tempi di consegna dei marmi da RUGI MARMI?</h2>
    <h3>I tempi di consegna dipendono dalla disponibilità del marmo e dalla complessità dell'ordine. Comunicheremo tempi stimati al momento dell'ordine.</h3>

    <h2>RUGI MARMI effettua consegne in tutta Italia?</h2>
    <h3>Sì, consegniamo marmi in tutta Italia, isole comprese. I costi di spedizione variano in base alla destinazione e saranno definiti al momento dell'ordine.</h3>

    <h2>Quali misure di manutenzione sono necessarie per preservare la bellezza dei marmi di RUGI MARMI?</h2>
    <h3>È consigliabile pulire i marmi regolarmente con detergenti delicati e utilizzare sottobicchieri e sottopentole per evitare graffi e macchie. Potete anche richiedere consigli specifici al nostro team.</h3>



</div>
