.example-card {
    max-width: 10vh;
    margin: 20px;
}

#parent {
  white-space: none;
}

.child {
  display: none;
}

mat-card {
  margin-left: 20px;
}

mat-card-content {
  height: 100px;
  width: 100%;
  background-color: white;
  font-size: 10px;
}

mat-card-title {
  font-size: 15px;
}

img {
  height: 200px;
  width: 100%;
  background-color: gray;
}

