<mat-card class="example-card">
    <img mat-card-image src="https://github.com/liuk1221/ProgettoSDEP2023/blob/main/Asset/HomePageImages/3-marmo-bianco-statuario-byblos.jpg?raw=true" alt="Photo of marmo bianco">
    <mat-card-content>
      <p>
        Il marmo Statuario di Carrara è una pietra naturale pregiata apprezzata per la sua eleganza, 
        il colore bianco puro e le venature uniche. È una scelta popolare per progetti di design 
        e architettura di alta qualità in tutto il mondo.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>BUY</button>
      <button mat-button>ADD</button>
    </mat-card-actions>
  </mat-card>
