<mat-card class="example-card">
<div style="display: flex; flex-direction: row; padding: 5px;">
  <div class="mat-card" *ngFor="let marmo of MARMI">
    <img mat-card-image src="../../../assets/HomePageImages/{{marmo.filename}}" alt="Photo of marmo bianco">
    <mat-card-title>
      {{marmo.title}}
    </mat-card-title>
    <mat-card-content>
      <p>
        {{marmo.descrizione}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>BUY</button>
      <button mat-button>ADD</button>
    </mat-card-actions>
  </div>
</div>
</mat-card>
